.gradle/
build/
out/
run/
logs/
crash-reports/
mcmodsrepo/
src/generated/

*.class
*.log
*.war
*.ear
libs/*.jar

.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
bin/

.DS_Store
Thumbs.db
